**/politeness_cache/
**/packrat/lib*
*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz
*.docx
manuscript/*.pdf
zz*/
zz/
.Rproj.user
04_manuscript/01_general/polite_manuscript_cache/
04_manuscript/01_general/polite_manuscript.pdf
04_manuscript/01_general/polite_manuscript.tex
*.DS_Store